 body{
      background-image: url("https://i.imgur.com/7BqARyx.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}

#header{
      background-color: black;
      border: 1px solid black;
      padding: 10px 30px;
      background-color: white;
      font-style: italic;
}

p{
    float:top
    margin-top:50px;
}

#logo{
      color: black;
      font-size: 70px;
      text-align: left;
}

#nav, .qty, #qty, .button{
      float: right;
}

#content{
      padding-top: 5px;
      text-align: center;
      font-size: 85px;
      text-shadow: 2px 2px lightblue;
      color: black;
      height: 200px;

}

#login, #guest {
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    float: bottom;
}

#login{
      background-color: white;
      border:2px solid lightblue;
      color:lightblue;
}

#guest{
      background-color: lightblue;
      border:2px solid white;
      color: white;
}

#login:hover{
    background-color: lightblue;
    border:2px solid white;
    color: white;
}

#guest:hover{
       background-color: white;
       border:2px solid lightblue;
       color: lightblue;
}



#content2 {
	float: top;
	text-align: center;
	font-size: 25px;
	color: black;
	width: 500;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 200px;
}

#existing {
	width: 300px;
	height: 400px;
	background-color: lightblue;
	border-style: outset;
	border-width: 5px;
	float: left;
}

#existing .button {
	background-color: white;
	color: lightblue;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	width: 50px;
	font-size: 15px;
	padding: 10px;
}

#existing .label {
	font-size: 25px;
}

#create {
	width: 300px;
	height: 400px;
	background-color: white;
	border-style: inset;
	border-width: 5px;
	border-color: lightblue;
	float: right;
}

#create .button {
	background-color: lightblue;
	color: white;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	width: 5px;
	font-size: 25px;
	padding: 10px;
}

#create .label {
	font-size: 25px;
}

#footer {
	clear: both;
}

#content3 {
	float: top;
	text-align: center;
	font-size: 20px;
	color: black;
	width: 800px;
	height: 200px;
	
	margin: auto;
	padding: 10px 200px;
}

.addItem{
	text-align: center;
	float: top;
	width: 600px;
	height: 80px;
	background-color: white;
	border-style: inset;
	border-width: 5px;
	border-color: lightblue;	
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	
}

.removeItem{
	width: 600px;
	height: 98px;
	background-color: lightblue;
	border-style: inset;
	border-width: 5px;
	border-color: white;
	float: bottom;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}