body {
	background-image: url("https://i.imgur.com/7BqARyx.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
}

#header {
	border: 1px solid black;
	padding: 10px 30px;
	background-color: white;
	font-style: italic;
	height: 90px;
	margin-left:5px;
	margin-right:5px;
}

p {
	float: top; 
	margin-top:50px;
}

#logo {
	color: black;
	font-size: 70px;
	text-align: left;
	float: left;
}

ul #nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

li a:hover {
	color:white;
    background-color: lightblue;
}

#content {
	padding-top: 5px;
	text-align: center;
	font-size: 85px;
	text-shadow: 2px 2px lightblue;
	color: black;
	height: 200px;
}

#login, #guest {
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	float: bottom;
}

#login {
	background-color: white;
	border: 2px solid lightblue;
	color: lightblue;
}

#guest {
	background-color: lightblue;
	border: 2px solid white;
	color: white;
}

#login:hover {
	background-color: lightblue;
	border: 2px solid white;
	color: white;
}

#guest:hover {
	background-color: white;
	border: 2px solid lightblue;
	color: lightblue;
}

#content2 {
	float: top;
	text-align: center;
	font-size: 25px;
	color: black;
	width: 500;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 200px;
}

#existing {
	width: 300px;
	height: 400px;
	background-color: lightblue;
	border-style: outset;
	border-width: 5px;
	float: left;
}

#existing.button {
	background-color: white;
	color: lightblue;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	width: 50px;
	font-size: 15px;
	padding: 10px;
}

#existing .label {
	font-size: 25px;
}

#create {
	width: 300px;
	height: 400px;
	background-color: white;
	border-style: inset;
	border-width: 5px;
	border-color: lightblue;
	float: right;
}

#create.button {
	background-color: lightblue;
	color: white;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 10px;
	width: 5px;
	font-size: 25px;
	padding: 10px;
}

#create .label {
	font-size: 25px;
}

#footer {
	clear: both;
}

#content3 {
	float: top;
	text-align: center;
	font-size: 20px;
	color: black;
	width: 800px;
	height: 200px;
	margin: auto;
	margin-top: 50px;
	padding: 40px 200px;
}

.addItem {
	text-align: center;
	float: top;
	width: 600px;
	height: 50px;
	background-color: white;
	border-style: inset;
	border-width: 5px;
	border-color: lightblue;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
}

.removeItem {
	width: 600px;
	height: 50px;
	background-color: lightblue;
	border-style: inset;
	border-width: 5px;
	border-color: white;
	float: bottom;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
}

.qty, #qty, .item, #add, #remove {
	float: left;
}

.error {
	background-color: white;
	background-width: 100px;
	font-size: 15px;
	color: red;
}
.success{
	background-color: white;
	background-width: 100px;
	font-size: 15px;
	color: green;
}